
<div class="row justify-content-center">
	<div class="col-12 col-md-5" id="container">
		<h1 class="text-center">{{ titulo }}</h1>
		{{ form_start(form) }}
		{% for field in form %}
			<div class="form-group">
				{{ form_row(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label}}) }}
				{% if form_errors(field) %}
					<div class="invalid-feedback">
						{{ form_errors(field) }}
					</div>
				{% endif %}
			</div>
		{% endfor %}

		{# <button type="submit" class="btn btn-primary my-3" name="save" value="save">Guardar</button> #}

		<button type="submit" class="btn btn-primary my-3" name="draft" value="draft">Guardar como borrador</button>

		{{ form_end(form) }}


		<div class="row justify-content-center">
			<div class="col-12 col-md-5" id="container">
				<h2>Acciones adicionales</h2>
				{% if evento.status == 1 %}
					<form method="post" action="{{ path('app_event_close_id', {'id': evento.id}) }}">
						<button class="btn btn-primary mb-3">Cerrar evento</button>
					</form>
				{% endif %}
				{% if evento.status == 0 and evento.userEvents|length  == 0 %}
					<div class="d-flex justify-content-around">
						<form method="post" action="{{ path('app_event_delete', {'id': evento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evento.id) }}">
							<button class="btn btn-primary">Borrar</button>
						</form>
						<form method="post" action="{{ path('app_event_open_id', {'id': evento.id}) }}">
							<button class="btn btn-primary">Abrir evento</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>

	</div>
</div>