{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
	{% set currentMonth = "now"|date('F Y') %}
	<div class="container-fluid">
		<div class="row justify-content-center mb-3">
			<div class="col-12 col-md-2 pt-4">
  				{% if is_granted('ROLE_ADMIN') %}
  					<div class="text-center">
    					<a href="{{ path('app_event_new') }}" class="btn btn-primary mb-2">Crear nuevo evento</a>
    					<a href="{{ path('app_user_event_index') }}" class="btn btn-primary">Lista de trabajadores</a>
  					</div>
  				{% endif %}
			</div>
			<div class="col-12 col-md-10">
				{% for mes, eventos in eventosPorMes %}
				    {% if mes == currentMonth %}
					<h2>{{ mes }}</h2>
					<div class="container">
  						<div class="row justify-content-center align-items-center">
    						{% for evento in eventos %}
      							<div class="col-md-3">
        							<div class="card mb-4">
          								<div class="card-body">
            								<h5 class="card-title">{{ evento.name }}</h5>
											<p class="card-text">Fecha comienzo <b>{{ evento.startDate|date('d-m-Y') }}</b></p>
											<p class="card-text">Fecha fin <b>{{ evento.endDate|date('d-m-Y') }}</b></p>
											{% if is_granted('ROLE_ADMIN') %}
												<a href="{{ path('app_user_event_disponibilidad', {'id': evento.id}) }}">disponibilidad</a>
											{% endif %}
											{# Resto del contenido del evento #}
										</div>
        							</div>
      							</div>
    						{% endfor %}
  						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
