{% extends 'base.html.twig' %}

{% block title %}Eventos
{% endblock %}

{% block body %}
	{% set currentMonth = "now"|date('F Y') %}
	<div class="container-fluid">
		<div class="row justify-content-center mb-3">
			{% if is_granted('ROLE_ADMIN') %}
			<div class="col-12 col-md-2 pt-4">
				<div class="text-center">
					<a href="{{ path('app_event_new') }}" class="btn btn-primary mb-2">Crear nuevo evento</a>
					<a href="{{ path('app_type_new') }}" class="btn btn-primary mb-2">Crear tipo de evento</a>
					<a href="{{ path('app_user_event_index') }}" class="btn btn-primary mb-2">Lista de trabajadores</a>
				</div>
			</div>
			{% endif %}
			<div class="col-12 col-md-10">
				{% if is_granted('ROLE_ADMIN') %}
					{# {{dump(eventosPorMes)}} #}
					{% for mes, eventos in eventosPorMes %}
					{% set monthDate = mes ~ '-01' %}
    				{% set monthDateTime = monthDate|date('Y-m') %}
    				{% set currentDateTime = 'now'|date('Y-m') %}
						{% if monthDateTime >= currentDateTime %}
						<h2>{{ mes }}</h2>
								<table class="table text-center">
									<thead>
										<tr>
											<th>Estado</th>
											<th>Nombre</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Nº trabajadores</th>
											<th>Acciones</th>
										</tr>
									</thead>
								{% for evento in eventos %}
									<tbody>
										<tr>
											<td>
												{% if evento.status == 0 %}
													<p>🟡</p>
												{% elseif evento.status == 1 %}
													<p>🔴</p>
												{% else %}
													<p>🟢</p>
												{% endif %}
											</td>
											<td>{{ evento.name }}</td>
											<td><b>{{ evento.startDate|date('d-m-Y') }}</b> al <b>{{ evento.endDate|date('d-m-Y') }}</b></td>
											<td>
												{% if evento.type is not empty %}
												  	<div class="d-flex justify-content-center align-items-center">
													{% for type in evento.type %}
														<img src="{{ asset('images/' ~ type.icon) }}" alt="iconType" width="40px">
													{% endfor %}
													</div>
												{% endif %}
											</td>
											<td>{{ evento.workersavailable }}/{{ evento.workersnumber }}</td>
											<td>
												<div class="row justify-content-center align-items-center">
													<div>
														<div>
															<a class="mb-2 btn btn-primary" href="{{ path('app_event_edit', {'id': evento.id}) }}">Editar</a>
														</div>
														{% if evento.status == 0 and evento.userEvents|length  == 0 %} #}
															<div>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_delete', {'id': evento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
																	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evento.id) }}">
																	<button class="btn btn-primary">Borrar</button>
																</form>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_open_id', {'id': evento.id}) }}">
																	<button class="btn btn-primary">Publicar evento</button>
																</form>
															</div>
														{% endif %}
														{% if evento.status == 1 %}
															<div>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_close_id', {'id': evento.id}) }}">
																	<button class="btn btn-primary">Cerrar evento</button>
																</form>
															</div>
														{% endif %}
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								{% endfor %}
							</table>
						{% endif %}
					{% endfor %}
				{% else %}
					{% for mes, eventos in eventosPorMes %}
					{% set monthDate = mes ~ '-01' %}
    				{% set monthDateTime = monthDate|date('Y-m') %}
    				{% set currentDateTime = 'now'|date('Y-m') %}
						{% if monthDateTime >= currentDateTime %}
						<h2>{{ mes }}</h2>
								<table class="table text-center">
									<thead>
										<tr>
											<th>Estado</th>
											<th>Nombre</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Nº trabajadores</th>
											<th>Acciones</th>
										</tr>
									</thead>
								{% for evento in eventos %}
									{% if evento.status != 0 %}
									<tbody>
										<tr>
											<td>
											{% for userEvent in evento.userEvents %}
												{% if userEvent.disponibility is null %}
													<p>🟡</p>
												{% elseif userEvent.disponibility == 0 %}
													<p>⚫</p>
												{% elseif userEvent.selected is null %}
													<p>🔘</p>
													{% if userEvent.coordination == 1 %}
														<p>🗣</p>
													{% endif %}
													{% if userEvent.driving == 1 %}
														<p>🚕</p>
													{% endif %}
												{% else %}
													<p>🟢</p>
													{% if userEvent.coordination == 1 %}
														<p>🗣</p>
													{% endif %}
													{% if userEvent.driving == 1 %}
														<p>🚕</p>
													{% endif %}
												{% endif %}
											{% endfor %}
											</td>
											<td>{{ evento.name }}</td>
											<td><b>{{ evento.startDate|date('d-m-Y') }}</b> al <b>{{ evento.endDate|date('d-m-Y') }}</b></td>
											<td>
												{% if evento.type is not empty %}
												  	<div class="d-flex justify-content-center align-items-center">
													{% for type in evento.type %}
														<img src="{{ asset('images/' ~ type.icon) }}" alt="iconType" width="40px">
													{% endfor %}
													</div>
												{% endif %}
											</td>
											<td>{{ evento.workersavailable }}/{{ evento.workersnumber }}</td>
											<td>
												<div class="row justify-content-center align-items-center">
													<div>
														{% for userEvent in evento.userEvents %}
															{% if userEvent.asistance is null %}
																<a class="col-11 mb-2 btn btn-primary" href="{{ path('app_user_event_asistance', {'id': evento.id}) }}">Asistencia</a>
															{% endif %}
														{% endfor %}
														
														<div>
															<a class="col-11 mb-2 btn btn-primary" href="{{ path('app_user_event_disponibilidad', {'id': evento.id}) }}">Disponibilidad</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
									{% endif %}
								{% endfor %}
							</table>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
