{% extends 'base.html.twig' %}

{% block title %}Eventos
{% endblock %}

{% block body %}
	{% set currentMonth = "now"|date('F Y') %}
	<div class="container-fluid">
		<div class="row justify-content-center mb-3">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="col-12 col-md-2 pt-4">
					<div class="text-center">
						<a href="{{ path('app_event_new') }}" class="btn btn-primary mb-2">Crear nuevo evento</a>
						<a href="{{ path('app_type_new') }}" class="btn btn-primary mb-2">Crear tipo de evento</a>
						<a href="{{ path('app_type_index') }}" class="btn btn-primary mb-2">Gestionar tipos</a>
					</div>
				</div>
			{% endif %}
			<div class="col-12 col-md-10">
				{% if is_granted('ROLE_ADMIN') %}
					{{dump(eventosPorMes)}}
					{% for mes, eventos in eventosPorMes %}
						<h2>{{ mes }}</h2>
								<table class="table text-center">
									<thead>
										<tr>
											<th>Estado</th>
											<th>Nombre</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Nº trabajadores</th>
											<th>Horario estimado</th>
											<th>Horas estimadas</th>
											<th>Acciones</th>
										</tr>
									</thead>
								{% for evento in eventos %}
									<tbody>
										<tr>
											<td>
												{% if evento.status == 0 %}
													<p>🟡</p>
												{% elseif evento.status == 1 %}
													<p>🔴</p>
												{% else %}
													<p>🟢</p>
												{% endif %}
											</td>
											<td>{{ evento.name }}</td>
											<td><b>{{ evento.startDate|date('d-m-Y') }}</b> al <b>{{ evento.endDate|date('d-m-Y') }}</b></td>
											<td>
												{% if evento.type is not empty %}
												  	<div class="d-flex justify-content-center align-items-center">
													{% for type in evento.type %}
														<img src="{{ asset('images_upload/' ~ type.icon) }}" alt="iconType" width="40px">
													{% endfor %}
													</div>
												{% endif %}
											</td>
											<td>{{ evento.workersavailable }}/{{ evento.workersnumber }}</td>
											<td>{{ evento.schedule }}</td>
											<td>{{ evento.estimatedhours }}</td>
											<td>
												<div class="row justify-content-center align-items-center">
													<div>
														<div>
															<a class="mb-2 btn btn-primary" href="{{ path('app_event_edit', {'id': evento.id}) }}">Editar</a>
														</div>
														{% if evento.status == 0 and evento.userEvents|length  == 0 %}
															<div>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_delete', {'id': evento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
																	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evento.id) }}">
																	<button class="btn btn-primary">Borrar</button>
																</form>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_open_id', {'id': evento.id}) }}">
																	<button class="btn btn-primary">Publicar evento</button>
																</form>
															</div>
														{% endif %}
														{% if evento.status == 1 %}
															<div>
																<form class="m-0 mb-2" method="post" action="{{ path('app_event_close_id', {'id': evento.id}) }}">
																	<button class="btn btn-primary">Cerrar evento</button>
																</form>
															</div>
														{% endif %}
														<div>
															<a class="mb-2 btn btn-primary" href="{{ path('app_event_show_workers', {'id': evento.id}) }}">Trabajadores</a>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								{% endfor %}
							</div>
						</div>
						{# {% endif %} #}
							</table>
					{% endfor %}
				{% else %}
					{% for mes, eventos in eventosPorMesTrabajadores %}
						<h2>{{ mes }}</h2>
								<table class="table text-center">
									<thead>
										<tr>
											<th>Estado</th>
											<th>Nombre</th>
											<th>Fecha</th>
											<th>Tipo</th>
											<th>Nº trabajadores</th>
											<th>Horario estimado</th>
											<th>Horas estimadas</th>
											<th>Horas reales</th>
											<th>Sueldo estimado</th>
											<th>Sueldo real</th>
											<th>Acciones</th>
										</tr>
									</thead>
								{% for evento in eventos %}
									{% if evento.status != 0 %}
									<tbody>
										<tr>
											<td>
											{% for userEvent in evento.userEvents %}
											{% if userEvent.user.id == app.user.id %}
											<p id="p-{{ evento.id }}">
												{% if userEvent.disponibility is null %}
													🟡
												{% elseif userEvent.disponibility == 0 %}
													⚫
												{% elseif userEvent.selected is null %}
													🔘
													{% if userEvent.coordination == 1 %}
														<p>🗣</p>
													{% endif %}
													{% if userEvent.driving == 1 %}
														<p>🚕</p>
													{% endif %}
												{% else %}
													🟢
													{% if userEvent.coordination == 1 %}
														<p>🗣</p>
													{% endif %}
													{% if userEvent.driving == 1 %}
														<p>🚕</p>
													{% endif %}
												{% endif %}
											</p>
											{% endif %}
											{% endfor %}
											</td>
											<td>{{ evento.name }}</td>
											<td><b>{{ evento.startDate|date('d-m-Y') }}</b> al <b>{{ evento.endDate|date('d-m-Y') }}</b></td>
											<td>
												{% if evento.type is not empty %}
												  	<div class="d-flex justify-content-center align-items-center">
													{% for type in evento.type %}
														<img src="{{ asset('images_upload/' ~ type.icon) }}" alt="iconType" width="40px">
													{% endfor %}
													</div>
												{% endif %}
											</td>
											<td>{{ evento.workersnumber }}</td>
											<td>{{ evento.schedule }}</td>
											
											{% for userEvent in evento.userEvents %}
											{% if userEvent.user.id == app.user.id %}

												<td>{{ userEvent.estimatedhours }}</td>
												<td>{{ userEvent.realhours }}</td>
												<td>{{ userEvent.estimatedsalary }}</td>
												<td>{{ userEvent.realsalary }}</td>
												
											{% endif %}
											{% endfor %}
											<td>
												<div class="row justify-content-center align-items-center">
													<div>
														{% for userEvent in evento.userEvents %}
															{% if userEvent.user.id == app.user.id %}
															{% if userEvent.asistance is null %}
															Marcar disponibilidad
															<select class="col-11 mb-2 form-select" id="disponibility-select-{{ evento.id }}" onchange="sendDisponibility('{{ evento.id }}','{{ userEvent.selected }}')">
															<option value="null" {% if userEvent.disponibility is null %}selected{% endif %}>No marcar</option>
															<option value="1" {% if userEvent.disponibility == 1 %}selected{% endif %}>Disponible</option>
															<option value="0" {% if userEvent.disponibility == 0 and userEvent.disponibility is not null %}selected{% endif %}>No disponible</option>
															</select>
															{% endif %} 
															{% endif %} 

															
															{% if userEvent.asistance == 1 %}
															<a href='{{ evento.linkform }}'>{{evento.linkform }}</a>

															{% endif %}
															

														{% endfor %}
													</div>
												</div>
											</td>
										</tr>
									</tbody>
									{% endif %}
								{% endfor %}
							</table>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
function sendDisponibility(eventId,eventselected) {
  var selectElement = document.getElementById("disponibility-select-" + eventId);
  var disponibilityValue = selectElement.value;

  axios.post('/user/event/disponibility/'+eventId, {
    disponibility: disponibilityValue
  })
  .then(function (response) {
    console.log("Todo gucci");
    selectElement.value = disponibilityValue;

	 // Actualizar el icono del evento en la interfaz de usuario
    var iconElement = document.getElementById("p-" + eventId);
    var newIcon = '';

    if (disponibilityValue === '1') {
		if(eventselected == 0){
			 newIcon = '🔘';
		}else{
			newIcon = '🟢';
		}
    } else if (disponibilityValue === '0') {
      newIcon = '⚫';
    } else {
      newIcon = '🟡';
    }
    iconElement.textContent = newIcon;
  })
  .catch(function (error) {
    console.log(error);
  });
}
</script>


{% endblock %}


