{# {% extends 'base.html.twig' %} #}
{% block body %}
    <div class="card-body mx-auto d-block">
        <div>
            <h3 class="card-title text-center">{{ event.name }}</h3>
            {% if event.type is not empty %}
                <div class="d-flex justify-content-center align-items-center">
                {% for type in event.type %}
                    <img src="{{ asset('images_upload/' ~ type.icon) }}" alt="iconType" width="40px">
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <p clas="card-text"><b>Fecha de inicio:</b> {{ event.startDate ? event.startDate|date('d/m/Y') : '' }}</p>
        <p clas="card-text"><b>Fecha de Fin:</b> {{ event.endDate ? event.endDate|date('d/m/Y') : '' }}</p>
        <p clas="card-text"><b>Nº trabajadores:</b> {{ event.workersNumber }}</p>
        <p clas="card-text"><b>Horas estimadas:</b> {{ event.estimatedHours }}</p>
        <p clas="card-text"><b>Distancia:</b> {{ event.distance }}</p>
        <p clas="card-text"><b>Formulario:</b> <a href='{{ event.linkform }}' target="_blank" rel="noopener noreferrer">{{ event.linkform }}</a></p>
    </div>
{% endblock %}
