{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
    <h1 class="text-center">Listado de tipos</h1>

    <div class="row justify-content-center mx-2">
        <div class="col-12 mt-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Accciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for type in types %}
                        <tr>
                            <td>{{ type.id }}</td>
                            <td>{{ type.name }}</td>
                            <td>{{ type.icon }}</td>
                            <td class="d-flex align-items-center">
                                <a class="btn mb-3 mx-2 boton" href="{{ path('app_type_edit', {'id': type.id}) }}">Editar</a>
                                {{ include('type/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No se han encontrado tipos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="boton btn mx-3" href="{{ path('app_type_new') }}">Crear nuevo</a>
{% endblock %}
