{% extends 'base.html.twig' %}

{% block title %}UserEvent index{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h1>Lista de disponibilidad de usuarios</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Evento</th>
                    <th>Disponibilidad</th>
                    <th>Coordinacion</th>
                    <th>Conduccion</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user_event in user_events %}
                <tr>
                    <td>{{ user_event.id }}</td>
                    <td>{{ user_event.user }}</td>
                    <td>{{ user_event.event }}</td>
                    <td>{{ user_event.disponibility != 0 ? "Si" : "No" }}</td>
                    <td>{{ user_event.coordination ? 'Yes' : 'No' }}</td>
                    <td>{{ user_event.driving ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_user_event_edit', {'id': user_event.id}) }}">editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No se han encontrado registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
