{% extends 'base.html.twig' %}

{% block title %}Calendario de Almacén{% endblock %}

{% block body %}

  <h1 class="text-center" id="titulo"></h1>


  <div class="container mb-5">
    <div class="text-center">
      <a class="d-inline-block boton btn" href="{{ path('app_signing_index_almacen') }}">Almacen</a>
    </div>
    <div id="calendar"></div>
  </div>

{% block javascripts %}
  <script src='js/index.global.min.js'></script>
{% endblock %}

  {% block scripts %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'es',
      events: [
        {% for tarea in tareas %}
            {
                id: {{tarea.id}},
                title: "{{tarea.event.name}}",
                start: '{{tarea.starttime  | date('Y-m-d')}}',
                end: '{{ tarea.endtime|date_modify("+1 day")|date("Y-m-d") }}',
                url: '/task/{{tarea.id}}',
                textColor: 'black',
                {% if tarea.type == 0 %}
                  backgroundColor: 'rgb(22, 208, 84)',
                {% elseif tarea.type == 1 %}
                  backgroundColor: 'rgb(22, 208, 204)',
                {% else %}
                  backgroundColor: 'rgb(208, 190, 22)',
                {% endif %}
            },
        {% endfor %}
      ]

    });
    calendar.render();

    var $title = document.querySelector('#titulo');
    $title.innerHTML = '<a class="h2" href="{{path("app_monthly")}}">Análisis mensual</a>  <a class="h2" href="{{path("app_warehouse_vacation")}}">Fichar Vacaciones</a>';
  });
</script>
{% endblock %}

{% endblock %}
