{% extends 'base.html.twig' %}

{% block title %}Signing{% endblock %}

{% block body %}

    <h1 class="text-center">Registro de {{ app.user }}</h1>

    <div class="row justify-content-center mx-2">
        <div class="col-11 col-md-3 mt-3 card">
        {# {{ dump(bool)}} #}
        {% if not bool %}
            <div class="text-center mt-3">
                <a class="btn btn-primary" href="{{ path('app_signing_entrada', {'id': event.id}) }}">Entrada</a>
            </div>
        {% endif %}
            <div>
                {{ include('event/show.html.twig') }}
            </div>
        </div>
        <table class="table text-center col-11 col-md-9 mt-3">
            <thead>
                <tr>
                    <th scope="col">Entrada</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Horas totales</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for signing in signings %}
                <tr>
                  
                           
                    <td>{{ signing.checkin ? signing.checkin|date('H:i d/m/Y') : '' }}</td>
                    <td>{{ signing.checkout ? signing.checkout|date('d/m/Y H:i:s') : '' }}</td>
                    <td>
                        {% if signing.checkin and signing.checkout %}
                            {% set diff = signing.checkout|date('U') - signing.checkin|date('U') %}
                            {% set hours = diff / 3600 %}
                            {% set minutes = (diff % 3600) / 60 %}
                            {{ hours|number_format(0, '.', '') }}h {{ minutes|number_format(0, '.', '') }}m
                        {% endif %}
                    </td>
                    <td>
                        {% if signing.checkin and signing.checkout %}
                            <a class="btn btn-primary" href="{{ path('app_signing_edit', {'id': signing.id}) }}">Editar</a>
                        {% elseif signing.checkin and not signing.checkout %}
                             <a class="btn btn-primary" href="{{ path('app_signing_salida', {'id': signing.id}) }}">Salida</a>
                        {% endif %}  
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      
{% endblock %}
