{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-11 col-md-3 mt-4 card">
            <div class="card-body">
                <div class="row justify-content-around align-items-center">
                    <h3 class="card-title">{{ user.fullname }}</h3>
                    {% if user.status == 1 %}
                        <h3 class="card-title text-success">Activo</h3>    
                    {% elseif user.status == 2 %}
                        <h3 class="card-title text-danger">Inactivo</h3>
                    {% else %}
                        <h3 class="card-title">Borrador</h3>
                    {% endif %}
                </div>
                <p clas="card-text"><b>Tipo de contrato:</b> {{ user.agreement }}</p>
                <p clas="card-text"><b>Numero de la seguridad social:</b> {{ user.socialSecurity }}</p>
                <p clas="card-text"><b>Direccion:</b> {{ user.address }}</p>
                <p clas="card-text"><b>Telefono:</b> {{ user.phoneNumber }}</p>
                <p clas="card-text"><b>Horas fijas:</b> {{ user.fixedHours }}</p>
                <p clas="card-text"><b>Carnet de conducir:</b> {{ user.driver == 1 ? 'Si' : 'No' }}</p>
                <p clas="card-text"><b>Fecha de nacimiento:</b> {{ user.birthdate|date('d-m-Y') }}</p>
                <p clas="card-text"><b>Edad:</b> {{ user.age }}</p>
            </div>
        </div>
    </div>
{% endblock %}
